@font-face {
    font-family: 'Proxima Nova Condensed Bold';
    src: url("./fonts/proxima_nova_cond_bold.ttf") format('truetype')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    font-size: 18px;
}

body {
    background-color: #FFFEF4;
}

main {
    top: 80px;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #8BB698;
}

.eggshell {
    background-color: #FFFEF4;
    border: 2px solid black;
}

.button h3 {
    font-size: 14px;
    letter-spacing: 1px;
}

.eggshell h3 {
    color: rgba(64,62,56,.95);
}

.green h3 {
    color: #FFFEF4;
    background-color: #8BB698;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Navigation Bar */

header {
    position: fixed;
    width: 100%;
    background-color: #FFFEF4;
}

nav {
    max-width: 1280px;
    min-width: 770px;
    width: 100%;
    height: 80px;
    padding: 20px 70px;
    margin: 0 auto;
    background-color: #FFFEF4;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Proxima Nova Condensed Bold';
}

nav ul {
    max-width: 510px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
    padding: 5px;
    letter-spacing: 1px;
}

.logo img {
    height: 28px;
    padding: 0 15px;
}

.nav-button-container {
    display: flex;
    padding: 0 15px 0 0;
    max-width: 295px;
    width: 100%;
    display: relative;
    justify-content: space-between;
}

/* Section 1: Landing Block */
.landing {
    width: 100%;
    max-height: 1200px;
}

.landing .img-container {
    width: 100%;
    overflow: hidden;
}

.landing img {
    width: 100%;
    height: auto;
    display: block;
}

.landing h1 {
    font-size: 40px;
}

/* Content Below the Fold */

.main-home-content {
    padding: 0 70px;
    margin: 0 auto;
    width: 1280px;
    max-width: 1280px;
}

/* @media only screen and (min-device XYZ) */