@font-face {
    font-family: 'Proxima Nova Condensed Bold';
    src: url("./fonts/proxima_nova_cond_bold.ttf") format('truetype')
}

@font-face {
    font-family: 'Proxima Nova Condensed Regular';
    src: url("./fonts/proximanovacond-regular.otf") format('opentype')
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("./fonts/Proxima\ Nova\ Regular.otf") format('opentype')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    font-size: 18px;
}

body {
    background-color: #FFFEF4;
}

main {
    top: 80px;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #8BB698;
}

.eggshell {
    background-color: #FFFEF4;
    border: 2px solid #aaa;
}

.button h5 {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Proxima Nova Condensed Bold';
}

.eggshell h5 {
    color: rgba(64,62,56,.95);
}

.green h5 {
    color: #FFFEF4;
    background-color: #8BB698;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:hover {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.play-pinkback-whitefill {
    height: 68px;
    width: 69px;
    background-color: #FFD0B6;
    border-radius: 50%;
}

/* Navigation Bar */

header {
    position: fixed;
    width: 100%;
    background-color: #FFFEF4;
    z-index: 10;
}

.desktop-nav,
.mobile-nav {
    max-width: 1280px;
    min-width: 770px;
    width: 100%;
    height: 80px;
    padding: 20px 70px;
    margin: 0 auto;
    background-color: #FFFEF4;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Proxima Nova Condensed Bold';
}

.mobile-nav {
    display: none;
}

.desktop-nav ul {
    max-width: 510px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
}

.desktop-nav li {
    display: inline-block;
    padding: 5px;
    letter-spacing: 1px;
}

.logo img {
    height: 28px;
    padding: 0 15px;
}

.nav-button-container {
    display: flex;
    padding: 0 15px 0 0;
    max-width: 295px;
    width: 100%;
    display: relative;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: inline-flex;
        min-width: 100px;
        padding: 5px 15px;
    }

    .hamburger-menu {
        height: 20px;
        width: 50px;
        padding: 0 15px;
    }

    .hb-line {
        width: 19px;
        height: 3px;
        background-color:#2C2E2C;
        margin-bottom: 5px;
    }
}

/* Section 1: Landing Block */
.landing {
    top: 80px;
    position: relative;
    width: 100%;
    min-height: 821px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.landing-img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-area: 1 / 1 / span 6 / span 12;
}

.landing-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    filter: brightness(65%);
}

.landing-header {
    grid-area: 2 / 2 / span 3 / span 7;
    /*align-self: center; */
    padding: 0 15px;
    z-index: 5;
}

.landing h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 100px;
    font-family: "Proxima Nova Condensed Bold";
    color: #FFFFFF;
    text-align: left;
    margin: 0 0 1px 0;
}

.landing h3 {
    font-family: 'Proxima Nova Condensed Bold';
    font-size: 26px;
    color: #FFFFFF;
    padding-top: 20px;
}

.landing h4 {
    font-family: 'Proxima Nova Condensed Regular';
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 30px;
    letter-spacing: 1.5px;
    padding-top: 10px;
}

.cta-button {
    padding-top: 20px;
}

@media only screen and (max-width: 1200px) {
    .landing h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 630px) {
    .landing h4 {
        display: none;
    }

    .cta-button {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 540px) {
    .landing {
        max-height: 490px;
        min-height: 490px;
    }

    .landing-header {
        grid-area: 2 / 1 / span 5 / span 12;
    }

    .landing h3 {
        display: none;
    }

    .landing h4 {
        display: none;
    }

    .cta-button {
        display: none;
    }
}

/* Content Below the Fold */

.main-home-content {
    position: relative;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    width: 100%;
    padding: 0 70px;
    max-width: 1280px;
    z-index: 9;
}

@media only screen and (max-width: 900px) {
    .main-home-content {
        padding: 0 10px;
        margin-top: 0;
    }
}

/* Section 2: TuneBed Video */

.bed-video-container {
    width: 100%;
    height: 545px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 60px;
    background-color: rgba(64, 62, 56, 95);
}

.bed-video-title {
    padding: 0 15px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.bed-video-title h4 {
    padding: 101px 15px 0 15px;
    font-family: 'Proxima Nova Condensed Regular';
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #fffef4;
    font-weight: normal;
}

.bed-video-title h3 {
    padding: 30px 15px 0 15px;
    font-size: 60px;
    font-family: 'Proxima Nova Condensed Bold';
    line-height: 58px;
    letter-spacing: 0;
    text-align: center;
    color: #fffef4;
}

button.play-pinkback-whitefill {
    margin-top: 50px;
}

@media only screen and (max-width: 540px) {
    .bed-video-container {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bed-video-title h4 {
        font-size: 14px;
        padding: 0px;
    }

    .bed-video-title h3 {
        font-size: 45px;
        padding: 0px;
    }
}

/* Section 3: Tuning */
.tuning {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

.tuning-text-container {
    padding: 0 30px 0 70px;
    width: 45%;
    max-width: 590px;
}

.tuning-title h3 {
    color: #2c2e2c;
    font-family: 'Proxima Nova Condensed Bold';
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 48px;
}

.tuning-title h4,
.tuning-paragraph p {
    color: #2c2e2c;
    font-family: 'Proxima Nova Regular';
    line-height: 2rem;
    letter-spacing: 0;
    font-weight: normal;
}

.tuning-p1 {
    padding-top: 48px;
    opacity: .6;
    line-height: 32px;
}

.tuning-p2 {
    padding-top: 24px;
    opacity: .6;
    line-height: 32px;
}

.tuning-learn-more {
    padding-top: 24px;
}

.tuning-learn-more a {
    display: inline-flex;
    justify-content: center;
}

#tuning-p3 {
    font-family: 'Proxima Nova Condensed Bold';
    line-height: 16px;
    font-weight: 400;
    padding-right: .25rem;
}

.tuning-large-img-container {
    margin: 0 15px;
    min-width: 330px;
    max-width: 330px;
    min-height: 509px;
    max-height: 509px;
    overflow: hidden;
}

.tuning-large-img img {
    height: 100%;
    width: auto;
    transform: translateX(-20%)
    /* object-fit: cover; */
}

.tuning-small-img-container {
    margin: 0 15px;

}

.tuning-small-img-container {
    width: 22%;
    overflow: hidden;
}

.tuning-small-img-container img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .tuning-small-img-container {
        display: none;
    }

    .tuning-text-container {
        width: 50%;
    }
}

@media only screen and (max-width: 770px) {
    .tuning {
        display: flex;
        flex-direction: column;
    }

    .tuning-text-container {
        padding: 0 25px;
        width: 100%;
    }

    .tuning-title h3 {
        margin-top: 0;
    }

    .tuning-large-img-container {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .tuning-p1 {
        padding-top: 15px;
    }

    .tuning-text-container {
        padding: 0 15px;
    }
}

/* Section 4: How It Works */
.how-it-works-container {
    width: 100%;
    min-height: 593px;
    padding: 20px;
    border: 1px solid #FCE7D5;
    
}

.how-it-works-container h2 {
    color: #2c2e2c;
    font-family: 'Proxima Nova Condensed Bold';
    font-size: 2rem;
    margin: 12px 0 78px;
    text-align: center;
}

.hiw-icon-container {
    display: flex;
}

.hiw-1,
.hiw-2,
.hiw-3 {
    padding: 16px;
    width: 33%;
}

.hiw-icons {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    line-height: 99px;
    margin: 0 auto;
}

.hiw-img-1 {
    width: 45px;
    height: 83px;
    margin-left: -8px;
    vertical-align: middle;
}

.hiw-img-2 {
    width: 69px;
    height: 60px;
    margin-left: -8px;
    vertical-align: middle;
}

.hiw-img-3 {
    margin-left: -8px;
    height: 62px;
    vertical-align: middle;
}

.hiw-1 .hiw-icons {
    background-color: #8bb698;
}

.hiw-2 .hiw-icons {
    background-color: #fefbbc;
}

.hiw-3 .hiw-icons {
    background-color: #f9d0b6;
}

.hiw-icon-text {
    margin-top: 48px;
}

.hiw-icon-text h3 {
    color: #2c2e2c;
    font-size: 26px;
    font-family: 'Proxima Nova Condensed Bold';
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
    margin-bottom: 8px;
}

.hiw-icon-text p {
    color: #2c2e2c;
    font-family: 'Proxima Nova Regular';
    line-height: 2rem;
    letter-spacing: 0;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .hiw-icon-container {
        display: flex;
        flex-direction: column;
    }

    .hiw-1,
    .hiw-2,
    .hiw-3 {
        padding: 16px;
        width: 100%;
    }
}

/* Section 5: Tune Sessions (no longer main-home content) */
.tune-sessions {
    width: 100%;
    background-color: #2d2e2c;
    height: 667px;
    padding: 100px 0 167px 0;
    margin-bottom: 40px;
}

.tune-sessions-container {
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: center;
}

.sessions-text {
    padding: 0 15px;
    min-height: 400px;
    max-width: 685px;
}

.sessions-text h2 {
    font-size: 2rem;
    font-family: 'Proxima Nova Condensed Bold';
    line-height: 46px;
    letter-spacing: 0;
    color: #fffef4;
}

.explore-sounds {
    margin: 47px 0;
    display: flex;
    align-items: center;
    width: 218px;
}

.session-play-container {
    background-color: #fffef4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.session-play-container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 40%;
}
.sessions-copy {
    font-family: 'Proxima Nova Regular';
    width: 100%;
    height: 163px;
    color: rgba(255,254,244,.6);
    line-height: 32px;
}

.explore-sounds p,
.sessions-learn-more p {
    font-family: 'Proxima Nova Condensed Bold';
    line-height: 16px;
    color: #fffef4;
}

.sessions-learn-more p {
    padding-right: .25rem;
}

.sessions-learn-more {
    margin-top: 48px;
}

.sessions-learn-more a {
    display: inline-flex;
    justify-content: center;
}

.sessions-circle-container {
    padding: 0 15px;
    width: 487.5px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessions-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #8bb698;
}

@media only screen and (max-width: 990px) {
    .sessions-circle-container {
        display: none;
    }

    .tune-sessions {
        padding: 50px 10px;
    }

    .sessions-text {
       height: 100%;
    }

    .tune-sessions-container {
        padding: 0 15px;
    }

    .sessions-learn-more {
        margin-top: 42px;
    }
}

/* Section 6: Locations */
.loc-container {
    width: 100%;

}

.locations {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.locations h2 {
    color: #2C2E2C;
    font-family: "Proxima Nova Condensed Bold";
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2rem;
    text-align: center;
    padding: 20px;
}

.total-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    justify-content: center;
}

.location-block {
    margin: 20px;
    width: 328px;
    min-width: 328px;
    height: 283px;
    min-height: 283px;
    border: 1px solid #FCE7D5;
}

.location-block h3 {
    margin: 37px 0 0 21px;
    height: 58px;
    width: 311px;
    color: #2C2E2C;
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 32px;
}

.location-address,
.location-phone {
    padding-left: 21px;
    padding-top: 22px;
    height: 87px;
    width: 100%;
    color: #222222;
    font-family: "PT Serif";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 29px;
}

.location-phone {
    padding-top: 0;
    height: 1rem;
    padding-bottom: 40px;
}

.loc-book {
    margin: 0 31px 29px 221px;
    width: 69px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loc-book p {
    font-family: "Proxima Nova Condensed Bold";
    letter-spacing: 0;
    line-height: 16px;
    color: #222222;
}

@media only screen and (max-width: 775px) {
    #l4,
    #l5,
    #l6 {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .location-block {
        margin: 10px;
        width: 275px;
    }
}

/* Section 7: Our Story / Team / Founders */
.team-container {
    width: 100%;
    max-width: 1280px;
    padding: 48px;
    margin: 0 auto;
}

.team-container h3 {
    text-align: center;
    color: #2c2e2c;
    font-family: 'Proxima Nova Condensed Bold';
    font-size: 2rem;
    margin: 12px;
}

.team {
    width: 100%;
    display: flex;
    padding: 15px;
}

.founder {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-img-container {
    width: 210px;
    height: 210px;
    overflow: hidden;
    margin: 10px;
    border-radius: 50%;
}

.founder-img1 {
    width: 100%;
    transform: translateY(-20%);
    display: block;
}

.founder-img2 {
    width: 100%;
    height: auto;
    transform: translateY(-20%);
    display: block;
}

.founder h4 {
    font-family: 'Proxima Nova Condensed Bold';
    font-size: 1.25rem;
    line-height: 16px;
    color: #2c2e2c;
    padding: 10px 0;
}

.founder-bio {
    padding: 10px 0;
    color: #2c2e2c;
    font-family: 'Proxima Nova Regular';
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: center;
    height: 200px;
}

@media only screen and (max-width: 990px) {
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .founder {
        width: 100%;
    }

    .founder-bio {
        display: none;
    }
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    background-color: #2c2e2c;
}

.newsletter-container {
    height: 288px;
    width: 332px;
}

.copyright {
    width: 332px;
}